.app-heading{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

input{
 width: 100%; 
}

.items-container{
    text-align: left;
}
.kg-row{
  margin: 10px 5px;
}

.kg-button{
  min-width: 80px;
}